
/* Estilo da index.html*/
.center {
    text-align: center;
}
.container{
    display: flex;
    flex-flow: row;
    justify-content: center ;
    align-items: center;
}
#menu li{
    display: inline;
    padding: 15px;
   
}
#menu li a{
    text-decoration:none;
    color:blue;
    font-size: 20px;

}
#menu li a:hover {
    color:red;
}
.p-30{
    padding: 30px;
    color: blue;
}
.br-50{
    border-radius: 50%;
}
.h1{
    color: royalblue;
}
.pag{
    background-color:black;
}
/* Estilo da contato.html*/
